/*
    TROCAR ESSE VALOR PARA AJUSTAR A ALTURA DOS CARDS
*/
:root {
    --height: 340px;
}

@media screen and (max-width: 768px) {
    .cards-container{
        flex-direction: column;
    }
    .card-static{
        width: 60% !important; 
    }
}

.card {
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 500ms ease-in-out;
    width: 100%;
    height: 10em;
    perspective: 1000px;
    height: inherit;
}

.card-front {
    transform: rotateY(0deg);
}

.card-back {
    background-color: bisque;
    height: 100%;
    transform: rotateY(180deg);
}

.card-static {
    height: inherit;
    width: 25%;
    border-radius: 10em;
    object-fit: cover;
    height: var(--height);
}

.card-static:hover .card {
    position: relative;
    transform: rotateY(180deg);
    transition: transform 500ms ease-in-out;
}

.card-front,
.card-back {
    width: 100%;
    height: inherit;
    position: absolute;
    backface-visibility: hidden;
}

.cards-container {
    display: flex;
    gap: 5px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.card-img {
    max-height: 100%;
    object-fit: cover;
}