.chamariz {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    width: 100%;
}

.container-imagem-chamariz{
    grid-area: 1/1/3/1;
}

.imagem-chamariz {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.imagem-chamariz-mobile{
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

@media screen and (max-width: 1440px) {
    .imagem-chamariz {
        margin-top: 0px;
        background-position: center;
        height: 100%;
        object-fit: cover;
    }

    .chamariz {
    }
}
@media screen and (max-width: 1024px) {
    .imagem-chamariz {
        margin-top: 0px;
        background-position: center;
        height: 100%;
        object-fit: cover;
    }

    .chamariz {
       
    }
}
@media screen and (max-width: 768px) {
    .imagem-chamariz {
        /* margin-top: 0px;
        background-position: center;
        height: 100%;
        object-fit: cover; */
        display: none;
    }

    .imagem-chamariz-mobile{
        display: block;
    }
}

@media screen and (max-width: 425px) {
}