.chamariz {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
}

.imagem-chamariz {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
@media screen and (max-width: 1440px) {
    .imagem-chamariz {
        margin-top: 0px;
        background-position: center;
        height: 100%;
        object-fit: cover;
    }

    .chamariz {
        height: 490px;
    }
}
@media screen and (max-width: 1024px) {
    .imagem-chamariz {
        margin-top: 0px;
        background-position: center;
        height: 100%;
        object-fit: cover;
    }

    .chamariz {
        height: 370px;
    }
}
@media screen and (max-width: 768px) {
    .imagem-chamariz {
        margin-top: 0px;
        background-position: center;
        height: 100%;
        object-fit: cover;
    }

    .chamariz {
        height: 300px;
    }
}

@media screen and (max-width: 425px) {
    .imagem-chamariz {
        margin-top: 43px;
        max-width: 100%;
        height: 150px;
        display: block;
    }
    .chamariz{
        height: 210px;
    }
}