:root {
    --height: 340px;
}

.select {
    margin-top: 5em;
    margin-bottom: 5em;
    padding: 0;
    background-color: white;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 50px;
}

.card {
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 500ms ease-in-out;
    width: 100%;
    height: 10em;
    perspective: 1000px;
    height: inherit;
}

.card-front {
    transform: rotateY(0deg);
}

.card-back {
    background-color: bisque;
    height: 100%;
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    width: 100%;
    height: inherit;
    position: absolute;
    backface-visibility: hidden;
}

.cards-container {
    display: flex;
    gap: 2em;
    justify-content: center;
}

.card-img {
    max-height: 100%;
    object-fit: cover;
}

.titulo-select,
.texto-select {
    max-width: 330px;
}

.titulo-select {
    color: var(--blue);
    margin-top: 25px;
    font-size: 35px;
    font-weight: bold;
    /* font-family: Arial; */
}

.texto-select {
    margin-top: 30px;
    /* font-family: Arial; */
    font-size: 25px;
}

.botao-quero-conhecer-os-cursos {
    background-color: var(--blue);
    color: white;
    display: inline-block;
    padding: 10px 20px;
    margin: 0 auto;
    margin-bottom: 1em;
    border-radius: 35px;
    font-size: larger;
    /* font-family: arial; */
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    margin-top: 30px;
}

.botao-quero-conhecer-os-cursos:hover {
    background-color: var(--dark-blue);
}

.botao-texto{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.titulo-card{
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
}
.texto-card{
    /* font-family: arial; */
    text-align: justify;
    margin-top: 60px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 1em;
}

.botao-card{
    text-align: center;
    margin: auto;
    padding: 1px 1px;
    border-radius: 10px;
    width: 150px;
}
.texto-card + .botao-card{
    margin-top: 10px;
}

@media screen and (max-width: 1024px) {
    .select{
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .select{
        flex-direction: column;
    }
}