html{
    background-color: #F8F9FA;
}
* {
    margin: 0;
    padding: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}
header {
    background-color: #000000;
    backdrop-filter: blur(5px);
    margin: 0;
    padding: 1em;
    width: 100%;
    position: relative;
    z-index: 1;
    opacity: 0.7;
}

.imagem-logo {
    font-weight: bold;
    width: 100%;
    max-width: 200px;
    height: auto;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
    margin-right: 20px;
}

.nav-links li {
    position: relative;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-family: "Amazon Ember", sans-serif;
    font-size: 20px;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #000000;
}

.mobile-navbar-container{
    display: none;
    width: 100%;
}

.mobile-navbar-icone{
    display: none;
    font-size: 2em;
}

.mobile-navbar-items{
}

.mobile-navbar-items > a{
    display: block;
    font-size: 1em;
    padding: 1em;
}

.opçoes-cursos>a::after {
    content: " ▼";
    font-size: 12px;
    margin-left: auto;
    display: inline-block;
    transition: transform 0.3s;
}

.opçoes-cursos:hover>a::after {
    transform: rotate(180deg);
}

.opçoes-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0378fd;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 150px;
    z-index: 998;
}

.opçoes-menu li a {
    padding: 10px;
    display: block;
    color: white;
}

.opçoes-menu li a:hover {
    background-color: #ffff;
}

.nav-links li:hover .opçoes-menu {
    display: block;
}

.botao-teste-seu-ingles{
    background-color: #000000;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 1s, color 1s;
}
.botao-teste-seu-ingles:hover{
    background-color: #0378fd;
    color: black; 
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .nav-links {
        gap: 20px;
        display: none;
    }

    .nav-links li a {
        font-size: 18px;
    }

    .imagem-logo img {
        width: 85%;
        height: auto;
        display: block;
    }

    .navbar{
        flex-wrap: wrap;
    }

    .mobile-navbar-icone{
        display: block;
    }
}

@media screen and (max-width: 765px) {
    .nav-links {
        gap: auto;
        align-items: center;
    }

    .nav-links li a {
        font-size: 15px;
    }

    .imagem-logo img {
        width: 80%;
        height: auto;
        display: block;
    }
}

@media screen and (max-width: 425px) {
    * {
        box-sizing: border-box
    }
    header {
        padding: 2% 4%;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0;
        height: auto;
    }

    .imagem-logo {
        width: 150px;
        margin: 0;
        padding: 0;
    }

    .imagem-logo img {
        width: 95%;
        height: auto;
        display: block;
    }

    .nav-links {
        /*display: flex;*/
        display: none;
        gap: 4px !important;
        padding: 0;
        margin: 0;
        align-items: center;
    }

    .nav-links li a {
        font-size: 12px;
        padding: 2px 4px;
    }

    .nav-links li,
    .botao-teste-seu-ingles {
        margin: 0;
        padding: 0;
    }
    .botao-teste-seu-ingles{
        font-size: 10px !important;
    }
}