.historia {
    padding: 0;
    margin-top: 5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.titulo-historia {
    width: 100%;
    font-size: 35px;
    text-align: center;
    color: var(--orange);
    font-weight: bold;
    justify-self: center;
    margin-bottom: 30px;
}

.texto-historia {
    font-size: 1.2em;
    text-align: left;
    width: 80%;
    text-align: justify;
}

.paragrafo-historia{

}

.paragrafo-historia + .paragrafo-historia{
    margin-top: 1em;
}

.texto-valores {
    /* font-family: arial; */
    font-size: 15px;
    text-align: left;
}

.texto-missao {
    /* font-family: Arial; */
    font-size: 15px;
    text-align: left;
}

.texto-historia+.texto-valores {
    margin-top: 15px;
}

.valores-exemplos+.texto-missao {
    margin-top: 15px;
}

.texto-historia,
.texto-missao,
.texto-valores,
.valores-exemplos {
    max-width: 1200px;
}