:root{
    --orange: #FF9500;
    --blue: #0378FD;
    --deep-blue: #033864;
    --yellow: #FFE710;
}
.descricao-cursos{
    display: flex;
    margin: 2em;
    gap: 2em;
}
.descricao-cursos-metade{
    width: 50%;
}
.titulo-descricao{
    font-size: 5em;
    color: var(--orange);
    margin-bottom: 1rem;
}
.corpo-descricao{
    font-size: 3em;
}
.botao-descricao{
    font-size: 1.5em;
    background-color: var(--orange);
}
.img-descricao{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1em;
}
.corpo-descricao + .corpo-descricao{
    margin-top: 0.5em;
}