.footer {
    background-color: #0378fd;
    padding: 15px 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 70px;
}

.footer-links{
    align-self: flex-start;
    margin-left: 1em;
}
.endereço{
    text-align: justify;
}

.titulo-links{
    font-weight: 600;
}

a,
.titulo-links {
    text-decoration: none;
    list-style: none;
    color: white;
}

.contato {
    color: white;
    margin-left: auto;
}

.contato img {
    margin-top: 25px;
}

.redes-sociais {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px
}

@media screen and (max-width: 768px) {
    .footer {
        gap: 30px;
    }

    .contato{
        width: 50%;
        margin-left: 0;
        margin-top: 1em;
    }

    .imagem-footer {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .footer {
        gap: 0;
        flex-direction: column;
    }

    .contato{
        text-align: center;
        width: 100%;
    }
    .endereço{
        text-align: center;
    }
}